#main {
  background: black;
  color: white;
}

* {
  text-align: center;
}

#img-div {
  margin: auto;
  background-color: blue;
  width: 90%;
}

#image {
  /* margin: 50px 0px 5px 0px; */
  width: 90%;
  max-width: 800px;
  display: block;
  margin: auto;
}

#img-caption {
  padding: 0px 0px 10px 0px;
}

#tribute-info ul li {
  width: 700px;
  margin: auto;
  text-align: left;
}

#careers {
  padding: 20px 0px 5px 0px;
}

